/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: Inter;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of CSS Reset file*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');


h1, h2, h3, h4, h5, h6 {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.03em;
}

.wrapper {
    box-sizing: border-box;
    max-width: 600px;
    box-shadow: 10px 10px 70px rgba(17, 24, 39, 0.10);
}

.top-container h1 {
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}

.top-container {
    box-sizing: border-box;
    width: 100%;
    background: #10B981;
    padding: 32px 52px;
    
}

.bottom-container {
    box-sizing: border-box;
    background: #D1FAE5;
    width: 100%;
    padding: 36px 25px;
    display: grid;
    grid-gap: 24px;
    
    transition: 0.3s;
    transition-timing-function: ease-in-out;

}

.mini-cards {
    
    box-sizing: border-box;
    background-color: #ECFDF5;
    border-radius: 4.68077px 0px 0px 0px;
    padding: 32px 77px 19px 77px;

    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

h3 {
    color: #047857;
    padding-bottom: 8px;
}

p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #353535;

}


input {
    font-family: Inter;
    font-size: 58px;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

#convert {
    width: 117px;
    height: 42px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: #3D3D3D;


    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 8px;
}

.input-num {
    box-sizing: border-box;
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;

    background-color: #10B981;
    border: 2px solid #6EE7B7;
    border-radius: 5px;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding-top: 3.5em;
    padding-bottom: 3.5em;

    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.input-area {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

#theme-switcher {
    width: auto;
    height: 42px;
    cursor: pointer;
    color: #3D3D3D;
    background-color: #10B981;
    

    border: 1.5px solid #F4F4F4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.dark-mode {
    background-color: #111827;
}

.card-dark-mode {
    background-color: #1F2937;
}

.card-dark-mode h3 {
    color: #6EE7B7;
}

.card-dark-mode p {
    color: #FFFFFF;
}

.body-dark-mode {
    background-color: #040e08;
}

.wrapper-dark-mode {
    box-shadow: 13px 18px 50px rgba(53, 53, 53, 0.07);
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    .wrapper {
        max-width: 300px;
    }

    .mini-cards {
        padding: 18px 32px 19px 32px;
    }
}